---
import Event from "./Event.astro";
---
<span class="flex flex-col gap-4">
  <Event datetime={Date.now()}
         location={"Villa de Alvarez, Colima. Mi casita."}/>
  <Event datetime={Date.now()}
         location={"Un lugar desconocido. Por ahi."}/>
  <Event datetime={Date.now()}
         location={"Villa de Alvarez, Colima. Mi casita."}/>
  <Event datetime={Date.now()}
         location={"Un lugar desconocido. Por ahi."}/>
  <Event datetime={Date.now()}
         location={"Villa de Alvarez, Colima. Mi casita."}/>
  <Event datetime={Date.now()}
         location={"Un lugar desconocido. Por ahi."}/>
</span>
